footer {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 20px;
  padding: 30px;
  color: $color-blue-light;
  border-top: 1px solid $color-blue-light;

  p {
    text-align: center;
  }
}
