.vote {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;

  em {
    font-size: 25px;
    font-family: $font-title;
  }

  p {
    text-align: center;
  }

  button {
    margin: 20px auto;
    padding: 5px 15px;
    background-color: $color-blue-light;
    color: $background-dark;
    border: 1px solid $color-blue-light;
    border-radius: 5px;

    &:hover {
      background-color: #000619;
      color: $color-blue-light;
    }

    &:active {
      position: relative;
      top: 1px;
    }
  }
}
