.slider {
  overflow: hidden;
  background-color: black;
  border-top: 1px solid $color-blue-light;
  border-bottom: 1px solid $color-blue-light;
  height: 200px;

  .slider-track {
    display: inline-block;
    white-space: nowrap;
    animation: scroll 40s linear infinite;
  }

  .slide {
    display: inline-block;

    img {
      display: inline-block;
      height: 200px;
      width: auto;
      transform: skewX(15deg);
      margin-right: 15px;
    }
  }

  @keyframes scroll {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-50%);
    }
  }
}
